aiofiles
aiohttp
beautifulsoup4
dnspython
ffmpeg-python
gitpython
gtts
hachoir-core
hachoir-parser
hachoir-metadata
heroku3
lyricsgenius
motor
numpy
oldpyro
pillow
psutil
pytgcalls
pykeyboard
pymongo[srv]
pyromod~=1.5
python-dotenv
pySmartDL
PyYAML==5.3.1
requests
speedtest-cli
spotipy
telegraph
telethon
tgcrypto
unidecode
wget
yt-dlp
pytz
