aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
gtts
hachoir  # بدون رقم إصدار لتفادي المشاكل
heroku3
lyricsgenius
motor
numpy
oldpyro
pillow
psutil
pytgcalls
pykeyboard
pymongo[srv]
pyromod~=1.5
python-dotenv
pySmartDL
PyYAML~=5.3  # استخدم ~ لتجنب إصدار 5.4 فما فوق لو في تضارب
requests
speedtest-cli
spotipy
telegraph
telethon
tgcrypto
unidecode
wget
yt-dlp
pytz
